extends layout

block content
  .page-header
    h3=name

  if tweets.length
    table.table.table-bordered
      thead
        tr
          th Time
          th Experiment
          th User
      tbody
        each tweet in tweets
          tr
            td=tweet.received
            td=tweet.experimentName
            td=tweet.participantHash
          tr
            td(colspan='3')
              table.table.table-condensed
                tr
                  th Tags
                  td(width="100%")
                    each tag in tweet.parsedTags
                      span.label.label-info=tag
                      span &nbsp;

                each k,v in tweet.parsedData
                  tr
                    th=k
                    td=v
  else
    p No tweets match this query.
